*{
    box-sizing: border-box;
    font-family: 'Bebas Neue', 'Open Sans', sans-serif ;
}

html{
    scroll-behavior: smooth;
    cursor: default;
}

body{
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    margin: 0;
}

.bg-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 770px;
    max-width: 100vw;
    background-image: url("../img/bg.png");
    background-attachment:scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-logo{
    position: relative;   
    top: 40px;
}
.top-logo img{
    width: 101.62px;
    height: 23px;
}

header h1{
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue";
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5.71px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.title-box{
    position: relative;
    top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-box h4{
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0px;
    text-align: center;
}

header button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    bottom: 8vh;
}

header button:hover{
    color: rgb(200, 200, 200);
    transition: ease-in-out 0.5s;
}

main{
    min-height: 1080px;
    display: grid;
    grid-template-columns: 17% 66% 17%;
}
.content-box{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

.nav-bar{
    height: 65px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgb(230, 230, 230);
    grid-template-columns: 17% 33% 33% 17%;
}

.black-logo{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

.nav-button{
    display: flex;
    justify-content: space-between;
}

.nav-button button{
    background-color: transparent;
    border: none;
    color: rgb(72, 85, 91);
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: -1px;
    letter-spacing: 1.09px;
    text-align: center;
}
.nav-button button:hover{
   color: rgb(0, 164, 229);
   cursor: pointer;
}

.black-logo img{
    width: 79.53px;
    height: 18px;
}

.about{
    position: relative;
    display: grid;
    width: 100%;
    height: 344px;
    grid-template-rows: 15% 85%;
    grid-template-columns: 49% 17% 17% 17%;
}

.our-story{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    align-content: space-evenly;
    justify-content: space-around;
    justify-items: center;
}

.our-story h2{
    color: rgb(72, 85, 91);
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.31px;
    text-align: center;
}

.our-story::after{
    content: "";
    border: solid 2px rgb(0, 164, 229);
    align-items: center;
    width: 50px;
}

.about-p{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    align-items: end;

}
.about-p h3{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    color: rgb(72, 85, 91);
    width: 92%;
}
.about-p p{
    color: rgb(72, 85, 91);
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.19px;
    text-align: left;
    width: 92%;
}

.plan{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: end;
    justify-items: end;
}

.manage{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: end;
    justify-items: end;
}

.build{
    display: grid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: end;
    justify-items: end;
}

.frame-build h2, .frame-manage h2, .frame-plan h2{
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.19px;
    text-align: left;
    margin-left: 14px;
    margin-top: 15px;
}

.frame-build img, .frame-manage img, .frame-plan img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.frame-plan img{
    justify-items: left;
}

.frame-build, .frame-manage, .frame-plan {
    display: grid;
    width: 87%;
    height: 77%;
    overflow: hidden;
}

.frame-build:hover, .frame-manage:hover, .frame-plan:hover{
    transform: scale(1.15);
    transition: transform ease-in-out 0.5s;
}

.capabilites{
    position: relative;
    display: grid;
    width: 100%;
    height: 446px;
    grid-template-rows: 9% 23% 68%;
    grid-template-columns: 30% 5% 30% 5% 7.5% 7% 15.5%;
}

.our-capabilites{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-content: space-between;
}

.our-capabilites h2{
    
    color: rgb(72, 85, 91);
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.31px;
    text-align: left;
}

.our-capabilites::after{
    content: "";
    border: 2px solid rgb(0, 164, 229);
    width: 50px;
}

.capabilites p{
    color: rgb(72, 85, 91);
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 6;
}
.capabilites button{
    background: rgb(0, 164, 229);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: 0.5px;
    text-align: center;
    border: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
    grid-column-start: 7;
}
.bottom-bg button:hover{
    background: rgb(1, 183, 255);
}  

.frame-1, .frame-2, .frame-3{
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(230, 230, 230);
    background: rgb(255, 255, 255);
    grid-row-start: 3;
    grid-row-end: 4;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 23px;

}

.frame-1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.frame-2{
    grid-column-start: 3;
    grid-column-end: 4;
}
.frame-3{
    grid-column-start: 5;
    grid-column-end: 8;
}

.frame-1 img, .frame-2 img, .frame-3 img{
    width: 70.59px;
    height: 75px;
}

.frame-1 p, .frame-2 p, .frame-3 p{
    color: rgb(72, 85, 91);
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.19px;
    text-align: left;
}

.frame-1 h2, .frame-2 h2, .frame-3 h2{
    color: rgb(72, 85, 91);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.43px;
    text-align: left;
}


.bottom-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 500px;
    min-width: 100vw;
    background-image: url("../img/bottom-bg.png");
    background-attachment:scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.get-touch{
    width: 350px;
    height: 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 120px;
}

.bottom-bg h2{
    color: rgb(72, 85, 91);
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-align: center;
}

.bottom-bg button{
    background: rgb(0, 164, 229);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: 0.5px;
    text-align: center;
    border: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
}
.bottom-bg button:hover{
    background: rgb(1, 183, 255);
}

.email-box{
    display: grid;
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    align-content: center;
    width: 100%;
    height: 100px;
    background: rgb(23, 24, 25);
}

#email-input{
    width: 250px;
    height: 40px;
    border: 1px solid rgb(151, 151, 151);
    background: rgb(255, 255, 255);
    color: rgb(72, 85, 91);
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.07px;
    padding-left: 16px;
}

.email-area button{
    background: rgb(0, 164, 229);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: 0.5px;
    text-align: center;
    border: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.email-area button:hover{
    background: rgb(1, 183, 255);
}

.email-area{
    display: flex;
    grid-column-start: 3;
    grid-row-start: 1;
}

.email-box h2{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.85px;
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 1;
}
.email-box h2:last-child{
    font-size: 13px;
}

.bottom-bar{
    display: grid;
    grid-template-columns: 17% 16% 6% 6% 6% 7% 18% 7% 17%;
    grid-template-rows: 10% 90%;
    background: rgb(20, 26, 32);
    height: 240px;
}

.bottom-bar h4{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.85px;
}

.company{
    grid-column-start: 2;
    grid-row-start: 1;
}

.links{
    grid-column-start: 3;
    grid-row-start: 1;
}

.contact-us{
    grid-column-start: 7;
    grid-row-start: 1;
}

.about-box{
    width: 250px;
    height: 148px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    grid-column-start: 2;
    grid-row-start: 2;
}

.about-box img{
    width: 101.62px;
    height: 23px;
}
.about-box p{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.5px;
}

.link-box{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 10% 90%;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    justify-items: start;
}
.links{
    grid-column-start: 1;
    grid-column-end: 4;
}
.link-box a{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.85px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.link-box a:hover{
    text-decoration: underline;
    color: rgb(206, 206, 206);
}

.link-box-1, .link-box-2, .link-box-3{
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
}

.contact-box{
    display: flex;
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    width: 141px;
    height: 148px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-box p{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.85px;
    text-align: left;
}

.social-box{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-box a{
    width: 12.04px;
    height: 12.04px;
    color: rgb(255, 255, 255);
}

.social-box a:hover{
    transform: scale(1.5);
    transition: transform 0.1s ease;
}

.copyright{
    display: flex;
    height: 60px;
    background: rgb(23, 24, 25);
    justify-content: center;
}

.copyright h4{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0.85px;
    text-align: left;
}

