*{
    text-decoration: underline;
}

p{
    background-color: yellow;
}
h3,
h4{
    color: #2fb616; 
    background: black;
}
/* DRY */

p span {
    color: rgb(6, 100, 6);
}
span{
    color: rgb(229, 224, 238);
}
header a{
    background-color: yellow;
}
#bottom{
background-color: purple;
color: white;
}
.text-card{
   background-color: blue;
    color: yellow;
}
.text-card.big{
    font-size: 20px;
}
ul li:first-child{
    background-color: yellow; 
}
ul li:last-child{
    background-color: rgb(0, 255, 72);
}
h6 li:nth-child(3){
    background-color: rgb(36, 195, 36);
} 

ul.list1 li:nth-child(1) {
    color: blue;
    
}